<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台管理-登陆</title>
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/layuiadmin/admin.css" media="all">
</head>
<body>
<div id="container">
	<div></div>
	<div class="admin-login-background">
		<!--<div class="admin-header">-->
		<!--<img src="image/ex_logo.png" class="admin-logo">-->
		<!--</div>-->
		<form class="layui-form" action="/login" method="post">
			<div>
				<i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
				<input type="text" name="username" placeholder="请输入用户名"
					   autocomplete="off"
					   class="layui-input admin-input admin-input-username">
			</div>
			<div>
				<i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
				<input type="password" name="password"
					   placeholder="请输入密码"
					   autocomplete="off"
					   class="layui-input admin-input">
			</div>
			<div>
				<input type="text" name="verify"
					   placeholder="请输入验证码"
					   autocomplete="off"
					   class="layui-input admin-input admin-input-verify">
				<img class="admin-captcha" src="/skip/getcode" id="validateCodeImg"
					 onclick="updateVerify()">
			</div>
			<button class="layui-btn admin-button" lay-submit lay-filter="formDemo">登陆</button>
		</form>
	</div>
</div>
<script src="layuiadmin/layui/layui.js"></script>
<script>
    // updateVerify=function (){
    //    // document.getElementById("validateCodeImg").src="loginCode?t="+Math.random();
    //     document.getElementsByTagName("img")[0].src =
    //         "/getcode";
    // }
    function updateVerify(obj){
        //document.getElementById("validateCodeImg").src="/getcode?date=" + new Date();
        document.getElementById("validateCodeImg").src="/skip/getcode?date=" + new Date();
    }

</script>
</body>
</html>